/*!
 *  build: 杭州数蛙科技有限公司 
 *  copyright: dgiot-dashboard 
 *  author: h7ml(h7ml@qq.com) 
 *  time: Tue Nov 16 2021 10:43:22 GMT+0000 (Coordinated Universal Time)
 */
@import url(https://unpkg.com/vditor@3.8.6/dist/index.css);
@import url(https://unpkg.com/xterm@4.13.0/css/xterm.css);
[data-v-0e75712a]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.theme-scrollbar[data-v-0e75712a]{height:calc(100vh - 118px) !important;overflow:hidden}
.vab-drawer .el-drawer__header{margin-bottom:20px}.vab-drawer .el-drawer__body{padding:0 10px 10px 10px}.vab-drawer .el-drawer__body .el-divider--horizontal{margin:28px 0 28px 0}.vab-drawer .el-drawer__body .el-form-item{display:flex;align-items:center}.vab-drawer .el-drawer__body .el-form-item .el-form-item__label{flex:1 1}.vab-drawer .el-drawer__body .el-form-item .el-form-item__content{flex:0 0 auto}.vab-drawer .el-drawer__body .el-form-item--small.el-form-item .el-input__inner{width:115px}.vab-drawer .el-drawer__footer{padding:10px;border-top:1px solid #dcdfe6}
[data-v-0e161ab2]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}[data-v-0e161ab2] .setting-btn{position:fixed;top:47.5%;z-index:2000;text-align:center;cursor:pointer}.vab-theme-setting[data-v-0e161ab2]{position:fixed;top:50%;right:0;z-index:2000;padding:10px 0 0 0;margin:0;text-align:center;cursor:pointer;background:#fff;border:1px solid #dcdfe6;border-top-left-radius:5.5px;border-bottom-left-radius:5.5px;box-shadow:0 0 50px 0 rgba(82,63,105,.15);transform:translateY(-50%)}.vab-theme-setting>li[data-v-0e161ab2]{display:flex;align-items:center;justify-content:center;padding:0 8px 10px 10px;margin:0;list-style:none}.vab-theme-setting>li:nth-child(2) [class*=ri-][data-v-0e161ab2]{-webkit-animation:rotate 6s linear infinite;animation:rotate 6s linear infinite}.vab-theme-setting>li:nth-child(1) a[data-v-0e161ab2]{color:#3698fd;background:#ebf5ff;transition:color .15s ease,background-color .15s ease,border-color .15s ease,box-shadow .15s ease}.vab-theme-setting>li:nth-child(1) a[data-v-0e161ab2]:hover{color:#fff;background:#3698fd}.vab-theme-setting>li:nth-child(2) a[data-v-0e161ab2]{color:#1bc3bb;background:#e8f9f8;transition:color .15s ease,background-color .15s ease,border-color .15s ease,box-shadow .15s ease}.vab-theme-setting>li:nth-child(2) a[data-v-0e161ab2]:hover{color:#fff;background:#1bc3bb}.vab-theme-setting>li:nth-child(3) a[data-v-0e161ab2]{color:#faa500;background:#fff6e6;transition:color .15s ease,background-color .15s ease,border-color .15s ease,box-shadow .15s ease}.vab-theme-setting>li:nth-child(3) a[data-v-0e161ab2]:hover{color:#fff;background:#faa500}.vab-theme-setting>li:nth-child(4) a[data-v-0e161ab2]{color:#b37feb;background:#f7f2fd;transition:color .15s ease,background-color .15s ease,border-color .15s ease,box-shadow .15s ease}.vab-theme-setting>li:nth-child(4) a[data-v-0e161ab2]:hover{color:#fff;background:#b37feb}.vab-theme-setting>li:nth-child(5) a[data-v-0e161ab2]{color:#ef4c5d;background:#fdedef;transition:color .15s ease,background-color .15s ease,border-color .15s ease,box-shadow .15s ease}.vab-theme-setting>li:nth-child(5) a[data-v-0e161ab2]:hover{color:#fff;background:#ef4c5d}.vab-theme-setting>li a[data-v-0e161ab2]{display:inline-block;width:60px;height:60px;padding-top:10px;text-align:center;background:#f6f8f9;border-radius:5.5px}.vab-theme-setting>li a p[data-v-0e161ab2]{padding:0;margin:0;overflow:hidden;font-size:12px;line-height:25px;text-overflow:ellipsis;white-space:nowrap}

.uploadfile[data-v-7015b19c] {
  /* position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px; */
}
.loading[data-v-7015b19c] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 0.8;
}
.progress[data-v-7015b19c] {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
}
.tips[data-v-7015b19c] {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -100px;
  color: #409eff;
}

[data-v-68e0a7c4]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.dgiot-doc-header[data-v-68e0a7c4]{margin-top:10px}#vditor[data-v-68e0a7c4]{height:calc(100vh - 60px * 2.7 - 64px)}
[data-v-962f7d40]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}
[data-v-00bf8f9c]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.ys7-container[data-v-00bf8f9c]{width:100%;height:calc(100vh - 200px)}
[data-v-7b81f76e]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.wrapper[data-v-7b81f76e]{position:fixed;right:-11.5px;bottom:145px;z-index:9999;padding:7px 15px;padding-right:19px;font-size:12px;font-weight:700;line-height:12px;color:#fff;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:rgba(0,0,0,.7);border:1px solid #000;border-radius:4px;opacity:1;transition:all .3s}.wrapper[data-v-7b81f76e]:hover{right:-4px;background-color:rgba(0,0,0,.9)}.wrapper i[data-v-7b81f76e]{margin-right:3px;font-size:12px}
