/*!
 *  build: 杭州数蛙科技有限公司 
 *  copyright: dgiot-dashboard 
 *  author: h7ml(h7ml@qq.com) 
 *  time: Wed Nov 17 2021 04:11:49 GMT+0000 (Coordinated Universal Time)
 */
.things-parse{width:100%;margin:20px}.things-parse .ace_editor{margin-right:80px}
[data-v-3eb68a68]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.modules[data-v-3eb68a68]{margin:20px}.modules footer[data-v-3eb68a68]{margin-top:20px;text-align:center}

.nodelist[data-v-23f37ef6] {
  box-sizing: border-box;
  width: 100%;
  min-height: 875px;
  padding-left: 10px;
  background: #ffffff;
}

