/*!
 *  build: 杭州数蛙科技有限公司 
 *  copyright: dgiot-dashboard 
 *  author: h7ml(h7ml@qq.com) 
 *  time: Wed Nov 17 2021 04:11:42 GMT+0000 (Coordinated Universal Time)
 */
[data-v-02a7245a]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.devproduct[data-v-02a7245a]{box-sizing:border-box;width:100%;height:100%}.devproduct[data-v-02a7245a]  .el-table--enable-row-hover .el-table__body tr:hover>td{color:#f19944;background-color:#fdf3ea}.devproduct .infinite-list[data-v-02a7245a]{padding:0;margin:0;list-style:none}.devproduct .infinite-list .infinite-list-item[data-v-02a7245a]{display:flex;align-items:center;justify-content:center;height:40px;margin:10px;color:#7dbcfc;cursor:pointer;background:#e8f3fe}.devproduct[data-v-02a7245a]  .el-dialog__wrapper .el-dialog__header,.devproduct .parserTable[data-v-02a7245a]{display:block;text-align:center}.devproduct[data-v-02a7245a]  .el-dialog{margin:0 auto}.devproduct .el-tabs__header[data-v-02a7245a]{margin:0}.devproduct .el-tabs__item[data-v-02a7245a]{height:50px;margin:0;margin-top:20px;font-family:auto;font-size:16px;line-height:50px}.devproduct .el-tabs__content[data-v-02a7245a]{box-sizing:border-box;padding:20px;background:#f4f4f4}.devproduct .el-tab-pane[data-v-02a7245a]{background:#fff}.devproduct .procontent[data-v-02a7245a],.devproduct .prosecond[data-v-02a7245a]{box-sizing:border-box;width:100%}.devproduct .el-dialog[data-v-02a7245a]{margin-top:5vh}.devproduct .el-dialog .el-dialog__header[data-v-02a7245a]{border-bottom:1px solid #ccc}.devproduct .el-dialog .el-cascader[data-v-02a7245a],.devproduct .el-dialog .el-select[data-v-02a7245a]{width:100%}.devproduct .el-dialog .el-form[data-v-02a7245a]{box-sizing:border-box;padding:0 10px}.devproduct .el-dialog .el-form .el-form-item[data-v-02a7245a]{margin-bottom:5px}.devproduct .el-dialog .el-form .el-form-item__content[data-v-02a7245a]{margin-left:10px;clear:both}.devproduct .avatar-uploader[data-v-02a7245a]{display:inline-block}.avatar-uploader .el-upload[data-v-02a7245a]{position:relative;overflow:hidden;cursor:pointer;border:1px dashed #d9d9d9;border-radius:6px}.avatar-uploader .el-upload[data-v-02a7245a]:hover{border-color:#409eff}.avatar-uploader-icon[data-v-02a7245a]{width:150px;height:150px;font-size:28px;line-height:150px;color:#8c939d;text-align:center;border:1px dashed #ccc}.avatar[data-v-02a7245a]{display:block;width:150px;height:150px}
[data-v-309e1f14]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.platform[data-v-309e1f14]{box-sizing:border-box;width:100%;padding:10px;background-size:100%}.platform .map_header[data-v-309e1f14]{height:auto}.platform .map_header .workGroupTreeShow[data-v-309e1f14]{height:100px;overflow:auto;overflow-y:scroll}.platform .deviceInfo p[data-v-309e1f14]{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.platform .deviceInfo .empty[data-v-309e1f14]{display:block;width:100px;height:100px;margin:20px 7px;text-align:center}.platform .deviceInfo .upload[data-v-309e1f14]{margin:0 auto;font-size:24px !important;text-align:center;cursor:pointer}.platform .chart_map[data-v-309e1f14]{margin:8px}.platform .chart_map .card_left[data-v-309e1f14]{position:absolute;bottom:60px;left:10px;z-index:1000;color:#000}.platform .chart_map .card_left-row-col[data-v-309e1f14]{color:#000}.platform .chart_map .card_left-row-col-card[data-v-309e1f14]{width:40px;height:40px;padding:8px;color:#fff;color:#000;border-radius:50%;opacity:.89}.platform .chart_map .card_left-row-col-card[data-v-309e1f14]  .ivu-card-body{padding:0 !important}.platform .chart_map .card_left-row-col-card[data-v-309e1f14]  .ivu-card-body p{margin-top:6px;margin-left:-5px;white-space:nowrap}.platform .chart_map .card .ivu-card[data-v-309e1f14],.platform .chart_map .card .ivu-card-bordered[data-v-309e1f14]{font-size:18px}.platform .chart_map .card .ivu-card .ivu-card-body div[data-v-309e1f14],.platform .chart_map .card .ivu-card-bordered .ivu-card-body div[data-v-309e1f14]{display:flex;justify-content:center}.platform .chart_map .card .ivu-card .ivu-card-body div p[data-v-309e1f14],.platform .chart_map .card .ivu-card-bordered .ivu-card-body div p[data-v-309e1f14]{margin:8px 0 auto;font-size:20px;text-align:center}.platform .chart_map .baidu_map[data-v-309e1f14]{height:calc(78vh - 20px)}.platform .home_card[data-v-309e1f14]  ._el-table{height:calc(78vh - 60px)}.platform .home_card[data-v-309e1f14]  .el-tabs{height:calc(78vh - 20px);overflow-x:auto}.platform .box-card[data-v-309e1f14]{margin:5px}.platform .box-card i[data-v-309e1f14]{color:#fff}.platform .box-card .el-row[data-v-309e1f14]{margin-bottom:20px}.platform .box-card .el-row[data-v-309e1f14]:last-child{margin-bottom:0}.platform .box-card .el-col[data-v-309e1f14]{border-radius:4px}.platform .box-card .bg-purple-dark[data-v-309e1f14]{background:#99a9bf}.platform .box-card .bg-purple-light[data-v-309e1f14]{background:#e5e9f2}.platform .box-card .grid-content[data-v-309e1f14]{border-radius:4px}.platform .box-card .row-bg[data-v-309e1f14]{height:40px;padding:10px 0;background-color:#f9fafc}.platform[data-v-309e1f14]  .el-badge{margin:0}.platform .map_card[data-v-309e1f14]  .el-row .card-panel-col:nth-child(1) .el-card{background:#673bb7}.platform .map_card[data-v-309e1f14]  .el-row .card-panel-col:nth-child(2) .el-card{background:#8bc24a}.platform .map_card[data-v-309e1f14]  .el-row .card-panel-col:nth-child(3) .el-card{background:#00bcd5}.platform .map_card[data-v-309e1f14]  .el-row .card-panel-col:nth-child(4) .el-card{background:#ea1e63}.platform .map_card[data-v-309e1f14]  .el-row .card-panel-col:nth-child(5) .el-card{background:#ff4c4f}.platform .map_card[data-v-309e1f14]  .el-row .card-panel-col:nth-child(6) .el-card{background:#2090ff}.platform .map_card[data-v-309e1f14]  .el-row .card-panel-col .el-card{background:#2090ff !important;opacity:.7}.platform .el-card__body div p[data-v-309e1f14]{text-align:center}.platform .clearfix[data-v-309e1f14]{ont-weight:bolder;text-align:center}.platform .card-left[data-v-309e1f14]{font-size:80px;color:#fff}.platform .card-right p[data-v-309e1f14]:first-child{padding:5px;margin:0px;font-weight:bolder;white-space:nowrap}.platform .card-right p[data-v-309e1f14]{font-size:20px;color:#fff;white-space:nowrap}.text[data-v-309e1f14]{font-size:14px}.item[data-v-309e1f14]{margin-bottom:20px}i[data-v-309e1f14]{display:block !important;width:50px;height:50px;margin:auto;margin-top:-10px;font-size:50px !important;font-size:40px;color:#000;transition:all ease-in-out .3s}
[data-v-12f0c0a0]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.engintable[data-v-12f0c0a0]{width:100%;height:auto}.engintable .engineheader h3[data-v-12f0c0a0]{float:left}.engintable .block[data-v-12f0c0a0]{margin-top:20px}[data-v-12f0c0a0] .firstcolumn{color:#34c388;cursor:pointer}.export-p[data-v-12f0c0a0]{text-align:center}
































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































  /* <!--李宏杰新增--> */
.diaCollLeftCls[data-v-c97453c4] {
    width: 100%;
    height: calc(100vh - 100px);
}
.ace_editor3[data-v-c97453c4] {
    height: calc(100vh - 100px);
}
.diaCollRightCls[data-v-c97453c4] {
    width: 100%;
    height: calc(100vh - 100px);
}
.editproduct[data-v-c97453c4] {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.mailtable .cloumn[data-v-c97453c4] {
    width: 200px;
    font-weight: 400;
    font-weight: bold;
    color: #74777a;
    text-align: left;
    background: #fafafc;
    border-right: 1px solid #ebecec;
    border-bottom: 1px solid #ebecec;
}
.mailtable td[data-v-c97453c4] {
    box-sizing: border-box;
    padding: 15px;
    font-size: 14px;
    color: #74777a;
    text-align: left;
    border: 1px solid #ebecec;
}
.mailtable .notbottom[data-v-c97453c4] {
    border-bottom: 0;
}
.editheader .product ul[data-v-c97453c4] {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding-left: 0;
}
.editheader .product ul li[data-v-c97453c4] {
    font-size: 16px;
    color: #74777a;
    text-align: left;
    list-style: none;
}

  /* .editheader .product ul li:first-child,
.editheader .product ul li:last-child {
width: 25%;
list-style: none;
color: #74777a;
font-size: 16px;
line-height: 50px;
float: left;
text-align: left;
}
.editheader .product ul li:nth-child(2) {
width: 50%;
list-style: none;
color: #74777a;
font-size: 16px;
line-height: 50px;
float: left;
text-align: left;
} */


.editproduct .el-tabs__item[data-v-c97453c4] {
    width: 150px;
    height: 50px;
    margin: 0;
    margin-top: 20px;
    font-family: auto;
    font-size: 16px;
    line-height: 50px;
}
.editproduct .el-tabs__header[data-v-c97453c4] {
    margin: 0;
}
.editproduct .el-tabs__content[data-v-c97453c4] {
    box-sizing: border-box;
    padding: 20px 10px 0 10px;
    background: #f4f4f4;
}
.editproduct .el-tab-pane[data-v-c97453c4] {
    box-sizing: border-box;
    padding-top: 10px;
    background: #ffffff;
}
.editproduct .el-dialog__body[data-v-c97453c4] {
    padding: 0 20px;
}
.editproduct .inputnumber[data-v-c97453c4] {
    width: auto;
}
.editproduct .el-table td[data-v-c97453c4],
  .editproduct .el-table th[data-v-c97453c4] {
    padding: 5px 0;
}
.editproduct .warning[data-v-c97453c4] {
    width: 100%;
    color: #ffffff;
    background: #272822;
}
.editproduct .error[data-v-c97453c4] {
    width: 100%;
    color: #f56c6c;
    background: #272822;
}
.editproduct .el-form-item[data-v-c97453c4] {
    margin-bottom: 5px;
}
[data-v-c97453c4] .el-form-item__content {
    /*line-height: 24px !important;*/
    /*margin-left: 0;*/
    /*clear: both;*/
    /*margin-top: -25px !important;*/
    /*color: pink;*/
}
[data-v-c97453c4] .el-form-item__label {
    height: 48px;
    line-height: 30px;
}
[data-v-c97453c4] .el-form-item--mini .el-form-item__error {
    margin-top: -13px;
}
.editproduct .el-dialog__header[data-v-c97453c4] {
    border-bottom: 1px solid #dddddd;
}
.editproduct .el-cascader[data-v-c97453c4] {
    width: 60%;
}
.editproduct .el-cascader .el-input__inner[data-v-c97453c4] {
    height: 30px;
}
.editproduct .topiccontent[data-v-c97453c4] {
    box-sizing: border-box;
    padding: 10px;
}
.editproduct .topicform .el-select[data-v-c97453c4] {
    width: 100%;
}
.editproduct .row-expand-cover td:first-child .el-icon-arrow-right[data-v-c97453c4] {
    visibility: hidden;
}

  /* .editproduct .row-expand-cover + tr {
display: none;
} */
.editproduct .el-table__expanded-cell[data-v-c97453c4] {
    left: 100px;
    box-sizing: border-box;
    padding: 20px 0 !important;
    margin: 0 auto;
    text-align: center;
}
.editproduct .el-table__expanded-cell .el-table th.is-leaf[data-v-c97453c4] {
    background: #ced7de9c;
}

  /* .editproduct #pane-sixeth {
display: flex;
} */
.editproduct .el-col-2[data-v-c97453c4] {
    text-align: center;
}
.green_active[data-v-c97453c4] {
    color: green;
}
.red_active[data-v-c97453c4] {
    color: red;
}
.wumoxing .el-form-item__content[data-v-c97453c4] {
    margin-left: 10px;
}
.task_collection .el-form-item__content[data-v-c97453c4] {
    clear: none;
}
.task_collection .el-form-item[data-v-c97453c4] {
    margin-bottom: 10px;
}

[data-v-c97453c4]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.engintable[data-v-c97453c4]{width:100%;height:auto}.engintable .engineheader h3[data-v-c97453c4]{float:left}.engintable .block[data-v-c97453c4]{margin-top:20px}[data-v-c97453c4] .firstcolumn{color:#34c388;cursor:pointer}.export-p[data-v-c97453c4]{text-align:center}
[data-v-7c540d8c]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.engintable[data-v-7c540d8c]{width:100%;height:auto}.engintable .engineheader h3[data-v-7c540d8c]{float:left}.engintable .block[data-v-7c540d8c]{margin-top:20px}[data-v-7c540d8c] .firstcolumn{color:#34c388;cursor:pointer}.export-p[data-v-7c540d8c]{text-align:center}
.avatar-uploader .el-upload:hover{border-color:#409eff}.avatar-uploader-icon{width:80px !important;height:80px !important;font-size:28px;line-height:80px !important;color:#8c939d;text-align:center;border:1px dashed #ccc}.avatar{display:block;width:80px !important;height:80px !important}
[data-v-6bccd297]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.devproduct[data-v-6bccd297]{box-sizing:border-box;width:100%;height:100%}.devproduct-prodialog[data-v-6bccd297]{margin-left:52px}.devproduct-prodialog-content[data-v-6bccd297]{margin:auto 30px}.devproduct-prodialog-footer[data-v-6bccd297]{text-align:center}.devproduct[data-v-6bccd297]  .el-dialog__wrapper .el-dialog__header,.devproduct .parserTable[data-v-6bccd297]{display:block}.devproduct[data-v-6bccd297]  .el-dialog{margin:0 auto}.devproduct[data-v-6bccd297]  .devproduct .el-tabs__header{margin:0}.devproduct[data-v-6bccd297]  .devproduct ::v-deep .el-tabs__item{height:50px;margin:0;margin-top:20px;font-family:auto;font-size:16px;line-height:50px}.devproduct[data-v-6bccd297]  .devproduct ::v-deep .el-tabs__content{box-sizing:border-box;padding:20px;background:#f4f4f4}.devproduct[data-v-6bccd297]  .devproduct ::v-deep .el-tab-pane{background:#fff}.devproduct[data-v-6bccd297]  .devproduct ::v-deep .procontent,.devproduct[data-v-6bccd297]  .devproduct ::v-deep .prosecond{box-sizing:border-box;width:100%}.devproduct[data-v-6bccd297]  .devproduct ::v-deep .el-dialog{margin-top:5vh}.devproduct[data-v-6bccd297]  .devproduct .el-dialog .el-dialog__header{border-bottom:1px solid #ccc}.devproduct[data-v-6bccd297]  .devproduct .el-dialog .el-cascader,.devproduct[data-v-6bccd297]  .devproduct .el-dialog .el-select{width:100%}.devproduct[data-v-6bccd297]  .devproduct .el-dialog .el-form{box-sizing:border-box;padding:0 10px}.devproduct[data-v-6bccd297]  .devproduct .el-dialog .el-form .el-form-item{margin-bottom:5px}.devproduct[data-v-6bccd297]  .devproduct .el-dialog .el-form .el-form-item__content{margin-left:10px;clear:both}.devproduct[data-v-6bccd297]  .devproduct .avatar-uploader{display:inline-block}.devproduct[data-v-6bccd297]  .avatar-uploader .el-upload{position:relative;overflow:hidden;cursor:pointer;border:1px dashed #d9d9d9;border-radius:6px}
[data-v-977ec064]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.devproduct[data-v-977ec064]{box-sizing:border-box;width:100%;height:100%}.devproduct[data-v-977ec064]  .el-table--enable-row-hover .el-table__body tr:hover>td{color:#f19944;background-color:#fdf3ea}.devproduct .infinite-list[data-v-977ec064]{padding:0;margin:0;list-style:none}.devproduct .infinite-list .infinite-list-item[data-v-977ec064]{display:flex;align-items:center;justify-content:center;height:40px;margin:10px;color:#7dbcfc;cursor:pointer;background:#e8f3fe}.devproduct[data-v-977ec064]  .el-dialog__wrapper .el-dialog__header,.devproduct .parserTable[data-v-977ec064]{display:block;text-align:center}.devproduct[data-v-977ec064]  .el-dialog{margin:0 auto}.devproduct .el-tabs__header[data-v-977ec064]{margin:0}.devproduct .el-tabs__item[data-v-977ec064]{height:50px;margin:0;margin-top:20px;font-family:auto;font-size:16px;line-height:50px}.devproduct .el-tabs__content[data-v-977ec064]{box-sizing:border-box;padding:20px;background:#f4f4f4}.devproduct .el-tab-pane[data-v-977ec064]{background:#fff}.devproduct .procontent[data-v-977ec064],.devproduct .prosecond[data-v-977ec064]{box-sizing:border-box;width:100%}.devproduct .el-dialog[data-v-977ec064]{margin-top:5vh}.devproduct .el-dialog .el-dialog__header[data-v-977ec064]{border-bottom:1px solid #ccc}.devproduct .el-dialog .el-cascader[data-v-977ec064],.devproduct .el-dialog .el-select[data-v-977ec064]{width:100%}.devproduct .el-dialog .el-form[data-v-977ec064]{box-sizing:border-box;padding:0 10px}.devproduct .el-dialog .el-form .el-form-item[data-v-977ec064]{margin-bottom:5px}.devproduct .el-dialog .el-form .el-form-item__content[data-v-977ec064]{margin-left:10px;clear:both}.devproduct .avatar-uploader[data-v-977ec064]{display:inline-block}.avatar-uploader .el-upload[data-v-977ec064]{position:relative;overflow:hidden;cursor:pointer;border:1px dashed #d9d9d9;border-radius:6px}.avatar-uploader .el-upload[data-v-977ec064]:hover{border-color:#409eff}.avatar-uploader-icon[data-v-977ec064]{width:150px;height:150px;font-size:28px;line-height:150px;color:#8c939d;text-align:center;border:1px dashed #ccc}.avatar[data-v-977ec064]{display:block;width:150px;height:150px}
[data-v-c7425ca2]:export{menu-color:rgba(255,255,255,.95);menu-color-active:rgba(255,255,255,.95);menu-background:#282c34;column-second-menu-background:#fff}.serverlist[data-v-c7425ca2]{box-sizing:border-box;width:100%;height:100%;padding:20px;background:#fff}.serverlist .servercontent .el-form[data-v-c7425ca2]{text-align:right}.serverlist .serverpagina[data-v-c7425ca2]{margin-top:20px}.serverlist[data-v-c7425ca2]  .el-dialog__body .el-form{display:flex;flex-wrap:wrap}.serverlist[data-v-c7425ca2]  .el-dialog__body .el-form .el-form-item{width:50%}.serverlist[data-v-c7425ca2]  .el-dialog__body .el-form .el-form-item ::v-deep .el-select{width:100%}.serverlist[data-v-c7425ca2]  .el-dialog__body .el-form ::v-deep .notall{width:100%;text-align:center}.serverlist[data-v-c7425ca2]  .el-dialog__body .el-form ::v-deep .el-col-11 .el-form-item{width:100%}.serverlist[data-v-c7425ca2]  .el-dialog__body .el-form ::v-deep .el-col-2{text-align:center}@media screen and (max-width: 1350px){.serverlist[data-v-c7425ca2]  .el-dialog__body .el-form .el-form-item{width:100%}}
.things-parse{width:100%;margin:40px}.things-parse .ace_editor{margin-right:80px}
